# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Alembic cache
alembic
alembic/__pycache__/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/

# Build files
build/
dist/
*.egg-info/

# IDE
.idea/

# Coverage
.coverage
htmlcov/

# SQLite
*.db